.main-navbar{
	
  position: relative;
  margin: 2.5% 0 2.5% 0;
  padding: 0 40px 0 40px;
  border-radius: 10px;
  border: solid 1px black;
  background-color: #fa5109;
  border-color: #dd4504;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#fb743b), to(#fa5109));
  background-image: -webkit-linear-gradient(top, #fb743b, 0%, #fa5109, 100%);
  background-image: -moz-linear-gradient(top, #fb743b 0%, #fa5109 100%);
  background-image: linear-gradient(to bottom, #fb743b 0%, #fa5109 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffb743b', endColorstr='#fffa5109', GradientType=0);
}

.navbar-default .navbar-nav > li > a{
	color: white;
	font-size: 1.2em;
}

.nav-tab-size{
	width: 40px;
	height: 40px;
	position: relative;
}

.nav-market-name{
  color: #ffffff;
	font-size: 1.2em;
	font-weight: bold;
	color: white;
	position: relative;
	bottom: 3px;
}


.div-size-1{
	width: 13%;
}

.div-size-2{
	width: 80%;
}

li:hover {
   color: #c0c0c0;
	background-color: #FF7272;
}

li {
	padding-top: 1%;
	padding-bottom: 1%;
}

